/* Style the tab */

.dp-background-green {
    background-color: #00A74F;
}

.dp-font-green {
    color: #006738;
}

.dp-font-lightGreen {
    color: #00A74F;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #33cc99;
    text-align: center;
    width: 100%;
    height: 3.5rem;
}

.font-bold {
    font-weight: bold;
}

.center {
    text-align: center
}

.margin-top-bottom-15 {
    margin: 15px 0px;
}


/* Style the buttons that are used to open the tab content */

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 14px 16px;
    transition: 0.3s;
    display: inline-block;
    color: white;
}


/* Change background color of buttons on hover */

.tab button:hover {
    /* background-color: #ddd; */
    border-bottom: white 3px solid;
}


/* Create an active/current tablink class */

.tab button.active {
    background-color: #ccc;
}


/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}


/* Text align at center */

.textcenter {
    text-align: center;
}

.home-template {}

.light-green-background {
    background: #00A74F;
}

.green-background {
    background: #174931;
}

.no-border {
    border: none !important;
}

.bold {
    font-weight: bold !important;
}

.letter-space-wide {
    letter-spacing: 0.5rem;
}

.content-title {
    font-size: 28px !important;
    text-align: center;
    color: #006738 !important;
    letter-spacing: 0.5rem;
}

.table-padding {
    padding: 5px 0px 0px 5px;
}

.menu-image {
    -webkit-filter: brightness(.3);
}

.menu-image:hover {
    -webkit-filter: brightness(1);
}

.navigation-container {
    position: relative;
}

.navigation-padding-column {
    padding: 0;
}

.text-overlay {
    font-size: 14pt;
    position: absolute;
    top: 50%;
    /* position the top  edge of the element at the middle of the parent */
    left: 50%;
    /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
    z-index: 100;
    color: white;
    background: #006738;
    width: 100%;
    text-align: center;
    opacity: 0.7;
    word-break: keep-all;
}

@media screen and (max-width: 768px) {
    .menu .columns div.navigation-padding-column {
        padding: 8px 0px!important;
    }
    .navigation-container {
        position: relative;
        width: 100%;
        text-align: center;
        border-bottom: 0.5px rgb(109, 165, 138) solid;
    }
    .navigation-container .text-overlay {
        font-size: 14pt;
        position: static;
        white-space: nowrap;
        background: none;
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 1408px) {}

.carousel-indicators-style {
    border-radius: 15px;
    height: 20px !important;
    max-width: 20px !important;
}

.content-gradient-background {
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 0%, #96e8a8 50%, #ffffff 100%);
    background: -webkit-linear-gradient(left, #ffffff 0%, #96e8a8 50%, #ffffff 100%);
    background: linear-gradient(to right, #ffffff 0%, #96e8a8 50%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
}

.carousel-control-left {
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    background-color: black;
    width: 100%;
    height: 4%;
}

.carousel-control-right {
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    background-color: black;
    width: 100%;
    height: 4%;
}

.title-gradient-background {
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 0%, #0CA64E 40%, #0CA64E 60%, #ffffff 100%);
    background: -webkit-linear-gradient(left, #ffffff 0%, #0CA64E 40%, #0CA64E 60%, #ffffff 100%);
    background: linear-gradient(to right, #ffffff 0%, #0CA64E 40%, #0CA64E 60%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
}

.title-life-dotted {
    color: #00A74F;
    padding: 10px;
    background-image: linear-gradient(to right, #00A74F 25%, rgba(255, 255, 255, 0) 0%), linear-gradient(to right, #00A74F 25%, rgba(255, 255, 255, 0) 0%);
    background-position: top, bottom;
    background-size: 14px 3px;
    background-repeat: repeat-x;
}

.course-img {
    margin: 0 auto;
    max-width: 100%;
}

.course-flower {
    background-image: url("/img/flower.png");
    background-repeat: no-repeat;
    background-position: 90% -60px;
}

.course-flower h1.sub-title {
    padding-top: 50px;
    font-weight: bold;
    color: #006738;
}


/* close icon */

.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.close:hover {
    opacity: 1;
}

.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}


/* fixed top menu */

.mobile-menu-background {
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 105 !important;
    background: rgba(45, 68, 62, 0.445)
}

.mobile-menu-arrow {
    font-size: 2rem;
    color: white;
}

.mobile-showMenu {
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 110;
    overflow-y: scroll;
    overflow-x: hidden;
}

.mobile-menu-title {
    font-size: 21px;
    color: white;
    padding: 0 0 0 30px;
    font-weight: bold;
    white-space: pre;
}

.mobile-menu-text {
    font-size: 20px;
    color: white;
}

.mobile-columns-title {
    margin: 0 !important;
    width: 100%;
}

.mobile-nav {
    display: none;
}

@media screen and (max-width: 770px) {
    .desktop-nav {
        display: none;
    }
    .mobile-nav {
        display: block;
    }
    .desktop-footer {
        display: none;
    }
    #sub-menu-sticker-sticky-wrapper {
        display: none;
    }
    .tab {
        display: none;
    }
}

.showMenu {
    width: 100%;
    position: absolute;
    z-index: 100;
}

.top-banner-bg-pic {
    display: block;
    height: 340px;
    width: 100%;
    min-width: 100%;
    position: relative;
}

.top-banner-bg-aboutus {
    background-image: url(/img/topbanner_aboutus.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.top-banner-bg-course {
    background-image: url(/img/topbanner_course.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.top-banner-bg-lifegrow {
    background-image: url(/img/topbanner_lifegrow.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.top-banner-bg-paylove-forward {
    background-image: url(/img/topbanner_paylove_forward.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.top-banner-bg-media {
    background-image: url(/img/topbanner_media.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.top-banner-bg-coachtoserve {
    background-image: url(/img/topbanner_coachtoserve.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.top-banner-bg-contact {
    background-image: url(/img/topbanner_contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.top-banner-white-bird {
    position: absolute;
    top: 2.5rem;
    left: 42vw;
    left: calc(50vw - 80px);
}

.top-banner-words {
    position: absolute;
    left: 49%;
    top: 50%;
    transform: translateY(-50%);
    writing-mode: vertical-lr;
}

.top-banner-words-eng {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.top-banner-words-size {
    text-align: center;
    font-size: 28px;
    color: white;
    text-shadow: 1.5px 1.5px black;
    white-space: pre;
}

.course-content {
    width: 50%;
    text-align: left;
    margin: 20px auto;
}


/* #region The FAQ page style */

.faq>ul>li {
    font-weight: bold;
    font-size: 120%;
    border-bottom: 1px #ddd solid;
    text-align: left;
    cursor: pointer;
    list-style-type: none;
    counter-increment: step-counter;
}

.faq>ul>li>strong>p::before {
    content: counter(step-counter)"ã€";
}

.faq>ul>li>strong>p::after {
    content: url("/img/arrow.svg");
    float: right;
}

.faq>ul>li>strong>p.rotate::after {
    content: url("/img/arrow.svg");
    float: right;
    display: inline-block;
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.faq>ul>li>strong>p {
    padding: 20px;
    font-size: 16pt;
    color: white;
}

.faq>ul>li:nth-child(2n+1)>strong>p {
    background-color: #77CABC;
}

.faq>ul>li:nth-child(2n)>strong>p {
    background-color: #0CA64E;
}

.faq>ul>li>ul {
    display: none;
}


/* #endregion */

@media screen and (max-width: 768px) {
    .course-content {
        width: 80%;
        text-align: left;
        margin: 0 auto;
    }
}

.nopadding {
    padding: 0%
}

.founder-intro-container {
    position: relative;
    background-image: url(/img/bird_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.founder-column {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translate(0, -50%);
}


/* For founder page mobile responsive */

@media screen and (max-width: 768px) {
    .founder-column {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translate(0, 170%);
    }
    .founder-intro-container {
        background-color: #174931;
        background-image: none;
    }
}

.workshop-detail-button {
    margin: 10% 0% 5% !important;
    padding: 0% 20% !important;
    color: white !important;
    background-color: #006738 !important;
}

.founder-column-title {
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.founder-read {
    font-size: 14px;
    color: white;
    font-weight: bold;
    border: 1px solid white;
    margin: 0 30%
}

.lifegrow-vertically-aligned {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
}

.workshop-img-overlay {
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: white !important;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    font-size: 28px;
    text-align: center;
    padding-top: 20%;
}

.course-button {
    background: #00A5A4;
    border: none;
    color: white;
    font-size: 26px;
    padding: 5px 30px;
    cursor: pointer;
}

.timetable div.h {
    display: none;
}

.timetable .course-detail {
    margin-top: -50px;
    padding-left: 35px;
    white-space: pre;
}

.timetable button.a {
    box-shadow: 0px 0px 20px 2px #1bd0cf;
}


/* contact css */

.contact-text {
    font-size: 14px;
}

.contact-placeholder:placeholder-shown {
    padding: 2.5%
}

.contact-column {
    font-size: 18px;
    padding: 0.5% !important;
}

.contact-submit {
    border: none;
    background: #174931;
    color: white;
    width: 40%;
}

#contact-map {
    height: 395px;
    width: 100%;
}

.overflow {
    overflow: auto;
}

.courseTitle-button {
    background-color: #0CA64E !important;
    height: 100%;
    padding: 10px;
    margin: 0px !important;
}

.videoWrapper {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 */
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Vision style */

.vision-container .background {
    background-image: url('/img/bird_bg.jpg');
    background-position-x: 50%;
    padding: 30px;
}

.vision-container .slogan b {
    line-height: 200%;
    font-size: 20pt;
    text-align: justify;
    color: white;
}

@media screen and (max-width: 768px) {
    .vision-container .background {
        background-color: #174931;
        background-image: none;
    }
    .vision-container .logo {
        position: static;
        margin: 10px 0;
    }
    .vision-container .slogan {
        position: static;
        text-align: center;
        font-size: 18pt;
    }
}